[submodule "k3s-ansible"]
	path = k3s-ansible
	url = https://github.com/candradebh/k3s-ansible.git
	branch = master


[submodule "ProxmoxVE"]
	path = ProxmoxVE
	url = https://github.com/candradebh/ProxmoxVE.git
